{% extends 'tasks/base.html' %}

{% block content %}

<div class="auth-card">
    <h2>Add New Task</h2>
    <p class="subtext">Stay organized.</p>

    <form method="POST" class="task-form">
        {% csrf_token %}

        <!-- Title -->
        <input 
            type="text" 
            name="title" 
            placeholder="Task title"
            required
        >

        <!-- Description -->
        <textarea 
            name="description" 
            placeholder="Description (optional)"
        ></textarea>

        <button type="submit" class="primary-btn">
            Save Task
        </button>
    </form>

</div>

{% endblock %}