<!DOCTYPE html>
<html>
<head>
    <title>Task Portal</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>

<div class="app-container">

    <!-- Sidebar -->
    <aside class="sidebar">
        <h2>Portal</h2>
        <a href="/">Dashboard</a>
        <a href="/add/">Add Task</a>
        <a href="/accounts/logout/">Logout</a>
    </aside>

    <!-- Main content -->
    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>

</div>

</body>
</html>